In [163]:
import re
sentence = "is2 Thi1s T4est 3a"
def order(sentence):
    sentence = sentence.split()
    a = []
    for word in sentence:
        split_word = re.split('',word)
        a.append(split_word)
    b = []
    for split_word in a:
        for letter in split_word:
            try:
                letter = int(letter)
            except:
                print("Not the number yet")
            b.append(letter)
    b.sort()
#                 b.append(split_word)

#     b = []
#     for i in a:
#         for j in i:
#             d = re.findall('0-9',j)
    return b.sort()
#             if int(j) in range(1,10):
#                 b.append(a)

In [12]:
import re
import numpy as np
string = 'is2 Thi1s T4est 3a'
def order(string):    
    new_string = list(np.zeros(len(string.split())))
    for word in string.split():
       letters = re.findall('\w', word)
       for letter in letters:
           if letter.isdigit():
               new_string[int(letter)-1]= word
    return new_string

In [13]:
z = "is2 Thi1s T4est 3a"
order(z)

['Thi1s', 'is2', '3a', 'T4est']

In [170]:
sorted(z)

['3a', 'T4est', 'Thi1s', 'is2']

In [178]:
s="aaabbbbhaijjjmxx"

In [221]:
import re
def printer_error(s):
    a = re.findall('[n-z]',s)
    a = str(len(a))
    b = str(len(s))
    return a+'/'+b

In [222]:
printer_error(s)

'2/16'

In [3]:
x = 2
def double_integer(x):
    return x*2

In [8]:
def expression_matter(a, b, c):
    d = max(a*(b+c), a*b*c, a+b*c, (a+b)*c, a+b+c)
    return d

In [24]:
seq = [20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]
def find_it(seq):
    odd = []
    for i in seq:
        count(i)
        else:
            pass
    return odd

In [25]:
find_it(seq)

[1, -1, 3, 3, 5, 5, 1, -1, 5]

In [27]:
seq = [20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]
for i in seq:
    if seq.count(i)%2 != 0:
        return i

2